version: "2"
services:
  db:
    image: postgres:9.6.1-alpine
    environment:
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
      - POSTGRES_DB=test
    ports:
      - "127.0.0.1:5432:5432"
